:root{
    --maincolor:  teal;
    --secondarycolor:red; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.continer{
    width: 80%;
    margin: auto;
}
.rec{
    background-color: black;
    width:10%;
    padding:5%;
    color:white;
    font-size: 30px;
}
.icon-animation{
    animation: spiner 5s 3s 5 alternate-reverse;
}
 .bg-img{
    background-image: url(../images/straight-road-travel-concept-illustration-png.webp);
    background-repeat: no-repeat;
    background-size: 100% 115%;
    overflow: hidden;

 }
 .img{
    width: 80px;
    margin-top:5%;
    height:200px;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: carmoving 4s infinite linear;
 }
 @keyframes spiner{
    from{
        
    }
 }
 @keyframes carmoving{
    from{
        margin-left: 0%;

    }
    to{
        margin-left: 100%;
    }
 }
 .card{
    width:30%;
    padding:3%;
    box-shadow: 0px 0px 5px 4px rgb(0, 0,0, 0.4);
     & p{
        color:  blue;
        font-size: 30px;
         &:hover{
             color:  var(--maincolor);
             font-size: 33px;
         }
     }
     &:hover{
        background-color: blanchedalmond;
     }
 }
 [href^=https]{
    color:var(--maincolor);
      &:hover{
        border:3px solid maroon;
      }
 }
 [href$=html]{
    color: var(--maincolor);
     &:hover{
        color: var(--secondarycolor);
     }
 }