body{
    background-color: green;
}
.cart{
    width:100%;
    height:400px;
     position: relative;
    perspective: 1000px;
}
.margin-top{
    margin-top:5% ;
}
.cart-inner{
     
     transition:all 1s ease;
     transform-style: preserve-3d;
}
.img{
    width: 100%;
    height:400px;
}
.img-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px;
}
 .cart:hover .cart-inner{
    transform: rotateY(180deg);
 }
 .back{
      transform: rotateY(180deg);
 }
 .back ,.front{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height:400px;
     box-shadow: 0 0 5px 4px rgb(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
 }
 