*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 
a{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}
 
.float-left{
    float:left
}
 .float-right{
    float: right;
}

.clear{
    clear:both;
}
.navbar{
    color:white;
    background-color: black;
    position:sticky;
    top:0;
    padding:1%
     
}
ul{
     width: 35%;
}
 h1{
    font-size: 23px;
 }
.inline-block{
    display:inline-block;
    margin-right:8%;
    font-size: 10px;
     list-style:none ;
    cursor: pointer;
    
}
 span{
    color:rgb(192,112,46);
 }
 .navbar h1 {
     font-size: 20px;
 } 

.hero{
    background-image:url(../images/Untitled.jpeg);
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:  100% 100%;
    height: 300px;
    position: relative;
}
.continer{
    width:80%;
    margin-left:auto ;
    margin-right:auto ;
 }
 .overlay{
    background-color: rgba(0,0,0);
    height: 400px;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 8% 0%;
 }
 .d-all{
    padding:3%;
 }
 .text-color{
    width:22% ;
    color:white;
    
 }
 .text-color h2{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
width:80%;

 }
 .text-color p{
    font-size:20px;
    width:300px;
    padding: 3%;
    margin-bottom:15%;
    height: 30px;
   }
    .text-color hr{
        width:25%;
        height: 2px;
        background-color: white;
        border: none;
        border-radius: 2px;
        margin-bottom:10%;
        margin-top:10%;
    }


.d-button{
background-color: transparent;
margin: 10% 0;
color:white;
border: 1px solid;
border-color: white;
height:25px;
width:80px;


}

.d-form{
    
    background-color: white;
    border-radius: 5px;
    width: 30%;
    margin-left:2% ;
    height:180px;

    
}
  h4{
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    padding:3%;
}
.input{
    border:none;
    padding: 1%;
    margin-left:10%;
    margin-right: auto;
    margin-top:5%;
    font-size: 11px;
    width: 80%;
    margin-bottom: 2%;
    color:#f0f0f0;

}
.button-form{
    width:100%;
    margin-top:10%;
    border:none;
    border-radius: 2px;
    height:30px;
    background-color: rgb(192,112,46);
    color:white;
}
.form hr{
    width:80%;
    margin-left:auto;
    margin-right: auto;
}