*{
padding:0;
margin:0;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.continer{
    width:90%;
    margin-left:6%;
    margin-right:  3%;
}

a{
    color:inherit;
    text-decoration: none;
     
}
 .font-style{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
 }
.float-right{
    float:right;
}
.clear{
    clear: both;
}
.nav{
    background-color:white ;
    width: 100% ;
    height:80px;
}
.group1{
 width: 185px;
height: 41px;
 
 margin-top: 30px;
margin-left: 54px;
 display: inline-block;

}
.logo{
    width: 85px;
    height:41px;
    display: inline-block;
 }
.furniro{
    width: 100px;
    height: 41px;
    font-family:sans-serif;
    font-weight:  bold;
   font-size: 30px;
   line-height: 100%;
    font-size:32px ;
}
.group2{
 width:430px;
 height:24px;
 margin-top:41px ;
 margin-right:300px;
}
 
.li{
    list-style: none;
    color: black;
    display: inline-block;
    width: 66px;
height: 24px;
  margin-right: 35px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight:bold;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.hero{
    background-image: url(../images/1461f3d6ff74c027a1888544144abe4be6e02cbf.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: center ;
    height:316px;
     padding: 5% 9% 9% 9%;
 } 
 
  
 .page-add{
     text-align: center;
     padding:2%;
     padding-top:0;
     font-size: 48px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bolder;
 }
.page-difination{
    text-align: center;
    padding-bottom: 0;
    
}
.sec1{
    font-size:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:  bold ;
}
 .nav2{
    background-color: rgb(249,241,231);
    padding:2%;
    text-align: center;
    padding-top: 1%;
 }
 .nav2 button{
     background-color: white;
     color:rgb(0, 0, 0);
     border:1px solid;
     width: 130px;
     height:50px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     font-size: 15px;
     cursor:pointer;
  }
  .hero2{
    width: 100%;
    height:2051px;
     
  }
   .float-left{
    float: left;
   }
   .margin-left-right{
    margin:0% 2%;

   }
  .card{
    width:23%;
     height:446px;
    margin-top: 3%;
    position: relative;
    
  }
  
  .card-img{
    width: 100%;
    height: 301px;
     display: flex;
    flex-direction: column;
  }
  .card-body{
    width: 100%;
    height: 145px;
    background-color:rgb(229, 230, 247) ;
    padding:7%;
     display: flex;
    flex-direction: column;
  }
  .card-body h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-size: 12px;
    color:rgb(153, 153, 155);
  }
  .box{
    text-align: center;
    margin-top:20px ;
    height:80px;
     
  }
  .B{
    width:50px;
    height:50px;
    margin-top:45px;
    margin-left: 27px;
    background-color:rgb(249,241,231) ;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  .next{
    width:80px;
  }
  .overlay{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 446px;
    background-color: rgb(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:10;
    opacity:0;
    transition: opacity 0.5s ;
  }
  .overlay:hover{
    opacity:1;
  }
  .show-button{
    width:200px;
    height:60px;
    border:1px solid #B88E2F;
    color:#B88E2F;
    background-color: white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-weight:bold ;
  }
   